@charset "ISO-8859-1";
table {
    
  border-collapse: collapse;
  width: 100%;
  
}


th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #c0c0c0 ;}


h1{
	
	color: black;
}
 
body{
 	
	
	
}



